$primario: #572364;
$primario-claro: #5d246c;
$primario-oscuro: #441f51;
$borde: rgba(144, 144, 144, 0.84);
$aside: #2a2a2a;
$fondo: #ffffff;
$fuente:#262626;
//Layout
$columna-izq:15%;
$columna-der:85%;
