<nav class="nav">
    <div class="logo">
        <a href="{{  path('homepage') }}">
            <img src="{{ asset('assets/img/logo.png') }}" alt="">
        </a>
    </div>
    <div class="caja-busqueda">
        <div class="input-busqueda">
            <span class="icon"><i class="fa fa-search"></i></span>
            <input type="search" id="search" placeholder="Buscar cancion, artista, @usuario, #hashtag">
        </div>
    </div>

</nav>