.posts{
  display:flex;
  width:100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  .post{
    width:23%;
    min-width:385px;
    background: #161616;
    border-radius: 3px;
    overflow: hidden;
    .header{
      height: 40px;
      padding:0;
      display:flex;
      justify-content: space-between;
      background: #161616;
      color:white;
      border:1px solid $primario-claro;
      border-radius:3px 3px 0 0;
      border-bottom:0;
      .user{
        width:80%;
        display:flex;
        align-items: center;
        margin-left:10px;
        a{
          color: white;
          font-weight: bold;
          text-decoration:none;
        }
      }
      .follow{
        width:23%;
        display:flex;
        align-items: center;
        justify-content: flex-end;
        button{
          background: $primario-claro;
          color:white;
          border:1px solid $primario-claro;
          border-radius:3px;
          padding:3px 10px 3px 10px ;
          cursor:pointer;
          font-weight: bold;
          margin-right:5px;
          &:hover{
            background: #fff;
            color:$primario-claro;
            border:1px solid $primario;
          }
        }
      }
    }
    .video{
      width:100%;
      min-width:385px;
      min-height: 210px;
      position:relative;
      overflow: hidden;
      video{
        width:100%;
        height: auto;
        ///* Center the video */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
    }
    .details{
      min-height: 60px;
      border-top:0;
      border-bottom:0;
      display:flex;
      flex-direction:column;
      padding:10px;
      background: #161616;
      .sing,
      .artist{
        align-items: center;
        height: 50%;
        display:flex;
        color:white;
        //font-weight: bold;
        .title, .name{
          align-items: center;
          margin-left:5px;
        }
        .name{
          margin-top:5px;
        }
      }
    }
    .interacciones{
      height: 35px;
      padding:0;
      display:flex;
      background: #2f2f2f;
      border-radius: 0 0 3px 3px ;
      //border-top:1px solid #cacaca;
      .like,
      .navdot,
      .comments,
      .share{
        width:25%;
        display:flex;
        justify-content: center;
        padding:10px;
        cursor:pointer;
        & i{
          display: flex;
          align-items: center;
          width:16px;
        }
      }
      .like{
        & i{
          content:url("../../img/cor.png");
        }
      }
      .comments{
        & i{
          content:url("../../img/comment.png");
        }
      }
      .share{
        & i{
          content:url("../../img/share.png");
        }
      }
      .navdot{
        & i{
          content:url("../../img/nav.png");
        }
      }
    }
  }
}

