/* assets/css/app.css */
//General
@import 'general/normalize';
@import 'general/variables';
@import 'general/general';
//Atoms
@import 'atoms/search';
@import 'atoms/icons';
//Molecules
@import 'molecules/post';
@import 'molecules/popup';
//Organisms
@import 'organisms/nav';
@import 'organisms/aside';
@import 'organisms/section';
//Templates
@import 'templates/layout';
@import 'templates/registro';
@import 'templates/login';
@import 'templates/perfil';
@import 'templates/explorar';
@import 'templates/config';
@import 'templates/events';
@import 'templates/notifications';
@import 'templates/mensajes';

//Pages

*{
  box-sizing:border-box ;
  margin:0;
  padding:0;
}
body{
  font-size:14px;
  font-family: Helvetica, Arial, sans-serif;
  //line-height: 18px;
  color:$fuente;
}