{% extends '/front/layout/layout.html.twig' %}

{% block section %}
    <div class="page-explorar">
        <div class="seccion mas-comentados">
            <div class="titulo-explorar">
                <h3>Los m치s comentados</h3>
            </div>
            <div class="posts" id="posts_comentados">
                <input type="hidden" id="offset_comentados" value="3">
                {% set posts = posts_comments  %}
                {{ include('front/templates/posts.html.twig') }}
            </div>
            <div class="caja-vermas">
                <button class="btn-vermas" id="ver_mas_comentados">Ver m치s videos</button>
            </div>
        </div>
        <div class="seccion mas-likes">
            <div class="titulo-explorar">
                <h3>Los m치s gustados</h3>
            </div>
            <div class="posts" id="posts_likes">
                <input type="hidden" id="offset_likes" value="3">
                {% set posts = posts_comments  %}
                {{ include('front/templates/posts.html.twig') }}
            </div>
            <div class="caja-vermas">
                <button class="btn-vermas" id="ver_mas_likes">Ver m치s videos</button>
            </div>
        </div>

    </div>
{% endblock %}
