{% extends '/front/layout/layout.html.twig' %}

{% block section %}

    <div class="posts" id="posts">
        <input type="hidden" name="page" value="index_app">
        <input type="hidden" name="offset" value="9">
        {{ include('front/templates/posts.html.twig') }}
    </div>
{% endblock %}
