.nav {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background: $fondo;
  border-bottom: 1px solid $primario-claro;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08), 0 2px 3px rgba(0, 0, 0, 0.016);

  .logo {
    display: flex;
    justify-content: flex-start;
    min-width: 265px;
    img {
      margin-left: 8px;
    }
  }

  .caja-busqueda {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 72%;

  }
}
